.homePage {
  color: rgb(217, 195, 158);
}

h2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

img {
  border-radius: 50%;
  height: 100%;
  width: 20%;
  padding-top: .5rem;
  z-index: 3;
  display: block;
  margin: auto;
}

.resume {
  background-color: #333;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.education,
.langs-header,
.exp-header,
.coursework {
  text-decoration: underline;
}


.webDev-summary {
  padding-right: 3rem;
  padding-left: 3rem;
  font-size: 0.8rem;
  list-style: none;
}

.lang-level,
.lang-names {
  display: flex;
  justify-content: space-around;
}

.lang-level {
  text-decoration: underline;
}

.webDev-header,
.webDev-desc,
.entegral-header {
  padding-bottom: 0;
  margin-bottom: 0;
}

.webDev-desc,
.entegral-desc {
  font-size: 0.7rem;
  list-style: none;
}

.hidden-txt {
  display: block;
  color: transparent;
  padding-bottom: 0;
  margin-bottom: 0;
}

.web-desc {
  background-color: #333;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
  border-style: solid;
  width: 35%;
}

.courses,
.contact-info,
.contact-info2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: baseline;
}

.contact-info,
.contact-info2 {
  column-gap: 0.5rem;
  row-gap: 1rem;
  align-items: baseline;
}

.courses {
  column-gap: 0rem;
  row-gap: 0rem;
}

.courses p {
  padding-inline: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.entegral-desc {
  padding-bottom: 0.75rem;
}

.linkedin-btn {
  background-color: rgb(0, 119, 181);
  color: rgb(255, 255, 255);
  border-style: solid;
  border-color: #333;
  border-radius: 15px;
}

.github-btn {
  background-color: rgb(240, 219, 79);
  color: rgb(50, 51, 48);
  border-style: solid;
  border-color: #333;
  border-radius: 15px;
}